<footer>
    <div></div>
    <div>
        <div>
            <h3>news</h3>
            <ul>
                <li>
                    <a href="#">all</a>
                </li>
                <li>
                    <a href="#">club news</a>
                </li>
                <li>
                    <a href="#">media center</a>
                </li>
                <li>
                    <a href="#">photos</a>
                </li>
                <li>
                    <a href="#">vidios</a>
                </li>
                <li>
                    <a href="#">rss</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>tickets</h3>
            <ul>
                <li>
                    <a href="#">tickets</a>
                </li>
                <li>
                    <a href="#">online ticket shop</a>
                </li>
                <li>
                    <a href="#">vouchers</a>
                </li>
                <li>
                    <a href="#">comit-ticket</a>
                </li>
                <li>
                    <a href="#">payment and price </a>
                </li>
                <li>
                    <a href="#">contackt and booking </a>
                </li>
            </ul>
        </div>
        <div>
            <h3>matches</h3>
            <ul>
                <li>
                    <a href="#">standings</a>
                </li>
                <li>
                    <a href="#">fixtures</a>
                </li>
                <li>
                    <a href="#">iuga</a>
                </li>
                <li>
                    <a href="#">poush cup</a>
                </li>
                <li>
                    <a href="#">poush super cup</a>
                </li>

            </ul>
        </div>
        <div>
            <div>
                <h3>fans</h3>
                <ul>
                    <li>
                        <a href="#">fan club</a>
                    </li>
                    <li>
                        <a href="#">social media</a>
                    </li>

                </ul>
            </div>
            <div>
                <h3>stadium</h3>
                <ul>
                    <li>
                        <a href="#">areana tour</a>
                    </li>
                    <li>
                        <a href="#">matchday tour</a>
                    </li>
                    <li>
                        <a href="#">online</a>
                    </li>

                </ul>
            </div>
        </div>
        <div>
            <div>
                <h3>bussiness</h3>

            </div>
            <div>
                <h3>nesletter</h3>

            </div>
            <div>
                <h3>mobileapp</h3>

            </div>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">imprint</a>
            </li>
            <li>
                <a href="#">privacypolicy</a>
            </li>
            <li>
                <a href="#">terms and conditions</a>
            </li>
            <li>
                <a href="#">faq </a>
            </li>
            <li>
                <a href="#">contact </a>
            </li>
        </ul>
        <div>&copy; gornik zabrazek 2016</div>
    </div>
</footer>